header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4C7866;
}

header div{
    display: flex;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
}

.banner{
    height: 100vh;
    background-image: url(img/background.jfif);
    background-size: cover;
    background-position: center;
}

.h_link {
    margin-right: 4vh;
    margin-left: 4vh;

}

.search {
    width: 1000px;
    margin-left: 0;
}

.logo {
    margin-left: 7vh;
}
